@model IEnumerable<CoffeeShop_Models.CoffeeMenuModel>

@{
    ViewBag.Title = "Menu";
}
<div>
    <p><a> <img class="aligncenter size-full wp-image-1378 retinized" src="~/Content/Images/page_header_coffeemenu.jpg" alt="page_header_coffeemenu" width="986" height="180" sizes="(max-width: 986px) 100vw, 986px"></a></p>
    @foreach (var item in Model)
    {
        if (item.CategoryID == "1")
        {
            <p>
                <h2><strong>@item.ItemName</strong><br></h2>
                @item.ItemDescription &nbsp;&nbsp;&nbsp;<strong>@item.Price</strong>$
            </p>
        }

    }

    <a><img class="aligncenter size-full wp-image-1381 retinized" src="~/Content/Images/page_header_espresso.jpg" alt="page_header_espresso" width="986" height="180" sizes="(max-width: 986px) 100vw, 986px"></a>

    @foreach (var item in Model)
    {
        if (item.CategoryID == "2")
        {
            <p>
                <h2><strong>@item.ItemName</strong><br></h2>
                @item.ItemDescription &nbsp;&nbsp;&nbsp;<strong>@item.Price</strong>$
            </p>
        }

    }

    <p><a><img class="aligncenter size-full wp-image-1382 retinized" src="~/Content/Images/page_header_frozendrinks.jpg" alt="page_header_frozendrinks" width="986" height="180" sizes="(max-width: 986px) 100vw, 986px"></a></p>
    @foreach (var item in Model)
    {
        if (item.CategoryID == "3")
        {
          <p>
             <h2><strong>@item.ItemName</strong><br></h2>
             @item.ItemDescription &nbsp; &nbsp; &nbsp;<strong>@item.Price</strong>$
            </p>
        }

    }

    <h2><a><img class="aligncenter size-full wp-image-1380 retinized" src="~/Content/Images/page_header_bakerymenu.jpg" alt="page_header_bakerymenu" width="986" height="180" sizes="(max-width: 986px) 100vw, 986px"></a></h2>
    @foreach (var item in Model)
    {
        if (item.CategoryID == "4")
        {
            <p>
                <h2><strong>@item.ItemName</strong><br></h2>
                @item.ItemDescription &nbsp;&nbsp;&nbsp;<strong>@item.Price</strong>$
            </p>
        }

    }
    <h2><a><img class="aligncenter size-full wp-image-1383 retinized" src="~/Content/Images/page_header_notcoffee.jpg" alt="page_header_notcoffee" width="986" height="180" sizes="(max-width: 986px) 100vw, 986px"></a></h2>

    @foreach (var item in Model)
    {
        if (item.CategoryID == "5")
        {
            <p>
                <h2><strong>@item.ItemName</strong><br></h2>
                @item.ItemDescription &nbsp;&nbsp;&nbsp;<strong>@item.Price</strong>$
            </p>
        }

    }
</div>

@*<div>
    <h2>Unflavored</h2>
    <p>
        <strong>House Blend</strong><br>
        Roasted on the lighter side….Colombian, Sumatran and Central American Coffees.<br>
        <strong>French Roast</strong><br>
        Darkly roasted blend  of Indonesian, African, and South American Coffees.<br>
        <strong>CBC’s Hypercaf</strong><br>
        The blend with almost 50% more caffeine, naturally!<br>
        <strong>Organic Peruvian</strong>
    </p>
    <h2>Everyday Flavors</h2>
    <p>Jamaican Me Crazy, Hazelnut, Toasted Coconut, French Vanilla, German Coffee Cake, Chocolate Frenzy, Rainforest Crunch, Chocolate Banana, Salted Caramel.</p>
    <p style="text-align: center;"><strong>Flavor of the Month for October: Cinnamon Butter Cookie!</strong></p>
    <p style="text-align: center;"><strong><img class="alignnone wp-image-1695 size-medium retinized" src="~/Content/Images/facebook_oct2018.png" alt="" width="300" height="300" sizes="(max-width: 300px) 100vw, 300px"></strong></p>
    <h2>Decaf House</h2>
    <p>Swiss water processed Colombian beans.</p>
    <h2>Decaf Flavors</h2>
    <p>German Coffee Cake, French Vanilla. We always carry decaf seasonal flavors and flavor of the month as well!</p>

   </div>

<div>
    <p>
        <a>
            <br>
        </a> <a><img class="aligncenter size-full wp-image-1381 retinized" src="~/Content/Images/page_header_espresso.jpg" alt="page_header_espresso" width="986" height="180" sizes="(max-width: 986px) 100vw, 986px"></a>
        <br>
        </a>
    </p>
    <p>
        Available hot or iced, regular or decaf, single shot or double shot!<br>
        <strong>Flavors:</strong> Caramel Mocha, Caramel Latte, Mocha, Salted Caramel Mocha
    </p>
    <h2>Latte/Cappuccino</h2>
    <p>Our true European espresso blend combined with velvety milk foam.</p>
    <h2>Americano</h2>
    <p>Espresso combined with hot water…a gourmet version of brewed coffee. Available hot &amp; iced.</p>
    <h2>Espresso</h2>
    <p>A concentrated extract of coffee with an intense flavor. We use a true European Blend of espresso. Also available as decaf. Single shot or double shot.</p>
    <h2>Extras</h2>
    <p>Get creative! Vanilla, Hazelnut, Caramel, Mint, Irish Cream, Cinnamon, Butterscotch, Coconut, Strawberry, Watermelon, Orange, Blueberry, Raspberry. Ghirardelli: Chocolate, Caramel, White Chocolate. Substitute Coconut Milk, Plain or Vanilla Soy Milk, Almond Milk.</p>
    <p><em><strong>Add a shot of expresso to any drink!</strong></em></p>

</div>*@

@*<div>
    <p><a><img class="aligncenter size-full wp-image-1382 retinized" src="~/Content/Images/page_header_frozendrinks.jpg" alt="page_header_frozendrinks" width="986" height="180" sizes="(max-width: 986px) 100vw, 986px"></a></p>
    <h2>Original Cravings</h2>
    <div class="pricelist tf_price">
        <p>
            Creamy frozen drinks that will satisfy any craving!<br>
            Caramel, Oreo, Cinnamon Bun, Reeses Pieces, &nbsp;Reeses Peanut Butter Cup, Birthday Cake.<br>
            Available regular or decaf.
        </p>
        <h2>“Limited Time” Cravings</h2>
        <p>
            Grab these now because they won’t last long! Have your cake and eat it too!<br>
            Funfetti, &nbsp;Fudge Brownie.<br>
            Available regular or decaf.
        </p>
        <h2>Frozen Cocoa</h2>
        <p>Your favorite winter drink, summarized! Rich cocoa and your choice of milk blended smooth.</p>
        <h2>Frozen Cafe Mocha</h2>
        <p>Rich cocoa with a kick! Your favorite coffee flavor blended smooth.</p>
        <h2>Vanillaccino</h2>
        <p>Espresso, Creamy Vanilla, and Milk</p>
        <h2>Frozen Lemonade</h2>
        <p>Strawberry, blueberry, lemon, lime, raspberry, orange, watermelon</p>
        <h2>Jet Tea</h2>
        <p>Strawberry</p>
        <h2>Smoothies</h2>
        <p>
            Seasonal. A creamy nutritious blend of organic fat free yogurt, fruit, and honey.<br>
            Strawberry
        </p>
    </div>

</div>

<div>
    <h2><a><img class="aligncenter size-full wp-image-1380 retinized" src="~/Content/Images/page_header_bakerymenu.jpg" alt="page_header_bakerymenu" width="986" height="180" sizes="(max-width: 986px) 100vw, 986px"></a></h2>
    <h3>Bagels</h3>
    <p>
        Everything, Plain, Honeygrain, Sesame, Veggie, Jalapeno, Onion, Cinnamon-Raisin.<br>
        Also offering gluten-free bagels.
    </p>
    <p>Served with butter. May request extra butter, peanut butter or jelly for additional cost.</p>
    <h3>Home Made Spreads</h3>
    <p>Spinach &amp; Artichoke, Garlic &amp; Herb, Chive &amp; Onion, Black Olive &amp; Feta, Veggie, Buffalo Chicken, Cajun Fiesta (seasonal) Plain, Light.</p>
    <h3>Pastry &amp; Muffins</h3>
    <p>Our pastry selection varies. Our muffin selection includes blueberry,&nbsp;blueberry/banana, corn, chocolate chip, banana chocolate chip, coffeecake.</p>
    <h3>Breakfast Sandwiches</h3>
    <p>Sausage &amp; Cheese, Bacon &amp; Cheese, Ham &amp; Cheese, Egg &amp; Cheese</p>
    <h3>Oatmeal</h3>
    <p>With brown sugar and raisins.</p>
</div>*@

@*<div>
    <h2><a><img class="aligncenter size-full wp-image-1383 retinized" src="~/Content/Images/page_header_notcoffee.jpg" alt="page_header_notcoffee" width="986" height="180" sizes="(max-width: 986px) 100vw, 986px"></a></h2>
    <h3>Iced &amp; Hot Teas</h3>
    <p>
        Black, Goji,&nbsp;Organic Tart Berry<br>
        Arnold Palmer<br>
        Homemade Chai
    </p>
    <p>Add a flavor: raspberry, strawberry, blueberry, watermelon, orange, mint</p>
    <p> pricelist </p>
    <div class="pricelist tf_price">
        <h3>Have a look at our “Not Just for Kids” menu below:</h3>
        <h3>Hot Cocoa</h3>
        <p>
            Rich cocoa and chocolate steamed with milk of your choice. Made from scratch. Always!<br>
            Cafe Mocha, Peanut Butter Cocoa, Jolt Cocoa
        </p>
        <h3>Lime Rickey</h3>
        <p>Raspberry</p>
        <h3>Frozen Lemonade</h3>
        <p>Strawberry, Blueberry, Lemon, Lime, Raspberry, Orange, Watermelon, Passionfruit</p>
        <h3>Smoothies</h3>
        <p>Strawberry</p>
    </div>
</div>*@